{
  "openapi": "3.1.0",
  "info": {
    "title": "Takoserver API",
    "version": "1.0.0",
    "summary": "An independent prepaid platform for Takoform-declared resources."
  },
  "servers": [
    {
      "url": "https://api.takoserver.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A session secret, an organization API key, or a resource-scoped token, depending on the route."
      }
    },
    "schemas": {
      "WorkerEndpointOriginReservationTarget": {
        "type": "object",
        "required": [
          "space",
          "workerName",
          "endpointName"
        ],
        "additionalProperties": false,
        "properties": {
          "space": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "workerName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "endpointName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          }
        }
      },
      "WorkerEndpointOriginReservationRequest": {
        "type": "object",
        "required": [
          "format",
          "target",
          "expiresInSeconds"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation.v1"
          },
          "target": {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationTarget"
          },
          "offeringId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "expiresInSeconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 86400
          }
        }
      },
      "WorkerEndpointOriginReservation": {
        "type": "object",
        "required": [
          "format",
          "reservationId",
          "canonicalPublicOrigin",
          "revision",
          "expiresAt",
          "target",
          "status"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation.v1"
          },
          "reservationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://[^/]+$",
            "maxLength": 2048
          },
          "revision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationTarget"
          },
          "status": {
            "type": "string",
            "enum": [
              "prepared",
              "bound",
              "activated"
            ]
          },
          "workerResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "endpointResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "WorkerEndpointOriginReservationActivationRequest": {
        "type": "object",
        "required": [
          "format",
          "endpointResourceUid"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation-activation.v1"
          },
          "endpointResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "WorkerRuntimeInputPreparationTarget": {
        "type": "object",
        "required": [
          "space",
          "workerName",
          "workerResourceUid",
          "bundleName",
          "originReservationId"
        ],
        "additionalProperties": false,
        "properties": {
          "space": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "workerName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "workerResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "bundleName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "originReservationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "WorkerRuntimeInputPreparationRequest": {
        "type": "object",
        "required": [
          "format",
          "materialSetId",
          "materialSetNonce",
          "runtimeInputReference",
          "target",
          "bindings"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-runtime-input-preparation@v1"
          },
          "materialSetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "materialSetNonce": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "runtimeInputReference": {
            "type": "string",
            "pattern": "^rip1\\.prep-[0-9a-f]{32}\\.[0-9a-f]{64}$"
          },
          "target": {
            "$ref": "#/components/schemas/WorkerRuntimeInputPreparationTarget"
          },
          "bindings": {
            "type": "object",
            "minProperties": 1,
            "maxProperties": 64,
            "propertyNames": {
              "pattern": "^[A-Z_][A-Z0-9_]{0,127}$"
            },
            "additionalProperties": {
              "type": "string",
              "minLength": 1,
              "maxLength": 32768
            }
          }
        }
      },
      "WorkerRuntimeInputPreparation": {
        "type": "object",
        "required": [
          "format",
          "operationId",
          "preparationId",
          "runtimeInputReference",
          "status",
          "expiresAt",
          "target",
          "canonicalPublicOrigin",
          "bindingNames"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-runtime-input-preparation@v1"
          },
          "operationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "preparationId": {
            "type": "string",
            "pattern": "^prep-[0-9a-f]{32}$"
          },
          "runtimeInputReference": {
            "type": "string",
            "pattern": "^rip1\\.prep-[0-9a-f]{32}\\.[0-9a-f]{64}$"
          },
          "status": {
            "type": "string",
            "enum": [
              "prepared",
              "claimed",
              "dispatched",
              "consumed",
              "revoked",
              "expired",
              "indeterminate"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "$ref": "#/components/schemas/WorkerRuntimeInputPreparationTarget"
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://[^/]+$",
            "maxLength": 2048
          },
          "bindingNames": {
            "type": "array",
            "minItems": 1,
            "maxItems": 64,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^[A-Z_][A-Z0-9_]{0,127}$"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "summary": "Console",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This document",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoserver": {
      "get": {
        "summary": "Product discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoform/v1": {
      "get": {
        "summary": "Stable Takoform Host discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/identity/providers": {
      "get": {
        "summary": "Identity providers accepted for sign-in",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/sessions": {
      "post": {
        "summary": "Exchange an external assertion for a session",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Read the signed-in principal and the organizations it owns",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/models": {
      "get": {
        "summary": "List configured OpenAI-compatible models",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/chat/completions": {
      "post": {
        "summary": "Create a prepaid OpenAI-compatible chat completion",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Stable per paid inference; replays return the same settled result."
          },
          {
            "name": "X-Takoserver-AI-Pricing-Revision",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^sha256:[a-f0-9]{64}$"
            },
            "description": "Optional exact model pricing revision from /v1/ai/models; drift is rejected before inference."
          }
        ]
      }
    },
    "/v1/forms": {
      "get": {
        "summary": "List every Form definition this Host will accept",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/organizations": {
      "post": {
        "summary": "Create an Organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys": {
      "post": {
        "summary": "Create a scoped API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "List the organization's live API keys",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/worker-endpoint-origin-reservations/{reservationId}": {
      "put": {
        "summary": "Prepare or exactly replay a future Worker endpoint origin reservation",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prepared reservation; an exact replay returns the same closed projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request"
          },
          "401": {
            "description": "Organization API key required"
          },
          "403": {
            "description": "The key lacks resources:write"
          },
          "409": {
            "description": "Replay, logical-worker, canonical-origin, or placement conflict"
          },
          "422": {
            "description": "No unique eligible ModuleWorker offering or provider capability"
          },
          "503": {
            "description": "Placement or reservation authority unavailable"
          }
        }
      },
      "get": {
        "summary": "Read one live Worker endpoint origin reservation",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live value-free reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required"
          },
          "403": {
            "description": "The key lacks resources:write"
          },
          "404": {
            "description": "Reservation absent, released, or expired"
          }
        }
      },
      "delete": {
        "summary": "Release a Worker endpoint origin reservation",
        "description": "Idempotent after release. Activation must first be deleted, and a retained endpoint UID continues to fence release until that exact Resource is deleted with closed provider absence.",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Released or already absent/released"
          },
          "401": {
            "description": "Organization API key required"
          },
          "403": {
            "description": "The key lacks resources:write"
          },
          "409": {
            "description": "Still activated, claimed, or fenced by the retained endpoint"
          },
          "503": {
            "description": "Reservation authority unavailable"
          }
        }
      }
    },
    "/v1/worker-endpoint-origin-reservations/{reservationId}/activation": {
      "put": {
        "summary": "Activate the reservation against one exact released Ready WorkerEndpoint",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationActivationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request"
          },
          "401": {
            "description": "Organization API key required"
          },
          "403": {
            "description": "The key lacks resources:write"
          },
          "404": {
            "description": "Reservation not found"
          },
          "409": {
            "description": "Endpoint identity, relation, readiness, origin, or placement conflict"
          },
          "503": {
            "description": "Reservation or Resource authority unavailable"
          }
        }
      },
      "delete": {
        "summary": "Deactivate the exact endpoint while retaining its UID as the release witness",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationActivationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request"
          },
          "401": {
            "description": "Organization API key required"
          },
          "403": {
            "description": "The key lacks resources:write"
          },
          "404": {
            "description": "Reservation not found"
          },
          "409": {
            "description": "Endpoint identity, relation, readiness, origin, or placement conflict"
          },
          "503": {
            "description": "Reservation or Resource authority unavailable"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/worker-runtime-input-preparations/{operationId}": {
      "put": {
        "summary": "Prepare one encrypted Worker runtime-input handoff",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerRuntimeInputPreparationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prepared value-free handoff projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerRuntimeInputPreparation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or invalid preflight reference"
          },
          "401": {
            "description": "Organization API key required"
          },
          "403": {
            "description": "The key lacks resources:write or belongs to another organization"
          },
          "409": {
            "description": "Replay, reservation, worker revision, or placement conflict"
          },
          "503": {
            "description": "Sealing or authority unavailable"
          }
        }
      },
      "get": {
        "summary": "Read a Worker runtime-input handoff without secret values",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value-free lifecycle projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerRuntimeInputPreparation"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required"
          },
          "403": {
            "description": "The key lacks resources:write or belongs to another organization"
          },
          "404": {
            "description": "Preparation not found"
          }
        }
      },
      "delete": {
        "summary": "Revoke one undispatched Worker runtime-input handoff",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked or already revoked"
          },
          "401": {
            "description": "Organization API key required"
          },
          "403": {
            "description": "The key lacks resources:write or belongs to another organization"
          },
          "409": {
            "description": "The handoff is already dispatched or indeterminate"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources": {
      "get": {
        "summary": "List the organization's Takoform resources",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}": {
      "get": {
        "summary": "Read one exact organization Takoform resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/native-residual": {
      "get": {
        "summary": "Prove provider-native absence after a Resource delete",
        "parameters": [
          {
            "name": "space",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed tri-state native absence attestation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "residual"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "residual": {
                      "type": "object",
                      "required": [
                        "status",
                        "source",
                        "effectCount",
                        "deploymentCount",
                        "checkedAt"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "absent",
                            "present",
                            "indeterminate"
                          ]
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "intrinsic",
                            "provider"
                          ]
                        },
                        "evidenceRef": {
                          "type": "string",
                          "pattern": "^sha256:[a-f0-9]{64}$"
                        },
                        "effectCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "deploymentCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "checkedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "closure_pending",
                            "effect_unresolved",
                            "deployment_active",
                            "deployment_unmarked",
                            "provider_unavailable",
                            "provider_readback_failed",
                            "provider_identity_missing",
                            "legacy_unattested"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid exact address query"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Resource incarnation not found"
          },
          "503": {
            "description": "Absence evidence is unavailable"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations": {
      "get": {
        "summary": "List explicit provider migrations for one logical Resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Plan a migration against an exact commercial reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}": {
      "get": {
        "summary": "Read one Resource Migration",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/execute": {
      "post": {
        "summary": "Provision, transfer, and verify a candidate Deployment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/cutover": {
      "post": {
        "summary": "Atomically activate the candidate and re-resolve Attachments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/rollback": {
      "post": {
        "summary": "Restore the retained Deployment and Attachment resolutions",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/cancel": {
      "post": {
        "summary": "Delete an uncut candidate and release its commercial reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/attachments": {
      "get": {
        "summary": "List the organization's Resource Attachments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Resolve and create a Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/attachments/{attachmentId}": {
      "get": {
        "summary": "Read one Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete one Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/s3-credentials": {
      "post": {
        "summary": "Issue short-lived S3 credentials for a historical ObjectBucket record",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/operations": {
      "get": {
        "summary": "List the organization's recent Takoform operations",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys/{apiKeyId}": {
      "delete": {
        "summary": "Revoke an API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet": {
      "get": {
        "summary": "Read the prepaid wallet",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/checkout": {
      "post": {
        "summary": "Begin a card payment for this organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/funding": {
      "post": {
        "summary": "Credit the wallet from a verified settlement proof",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/catalog": {
      "get": {
        "summary": "List purchasable offerings",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/quotes": {
      "post": {
        "summary": "Price an offering for a tenant",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations": {
      "post": {
        "summary": "Reserve a quote, holding funds",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/capture": {
      "post": {
        "summary": "Capture a reservation against reported usage",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/release": {
      "post": {
        "summary": "Release a reservation and return its hold",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/provision-tokens": {
      "post": {
        "summary": "Mint a single-use provisioning token for a reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/takoform-run-tokens": {
      "post": {
        "summary": "Mint a short-lived exact-Resource bearer for an ordinary Takoform provider run",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/usage-statement": {
      "get": {
        "summary": "Read the usage statement of a captured reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/forms": {
      "get": {
        "summary": "Resolve one exact installed Form",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/form-definitions/{group}/{kind}": {
      "get": {
        "summary": "Read an installed Form definition",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/forms": {
      "get": {
        "summary": "List support profiles for installed Forms",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/forms/{group}/{kind}/{definitionVersion}": {
      "get": {
        "summary": "Read one Form support profile",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/interfaces/{name}/{version}": {
      "get": {
        "summary": "Read a provided Interface contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/bindings/{name}/{version}": {
      "get": {
        "summary": "Read an accepted Binding contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/standard-services/{protocol}": {
      "get": {
        "summary": "Read exact standard-service support",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/validate": {
      "post": {
        "summary": "Validate desired state without recording it",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/prepare": {
      "post": {
        "summary": "Review desired state and mint a prepare digest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}": {
      "get": {
        "summary": "Read a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "summary": "Apply reviewed desired state",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}/observe": {
      "post": {
        "summary": "Refresh observed state from the backend",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}/import": {
      "post": {
        "summary": "Adopt an existing native resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/operations/{operationId}": {
      "get": {
        "summary": "Read a settled operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/operations/{operationId}/cancel": {
      "post": {
        "summary": "Request cancellation of an operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads": {
      "post": {
        "summary": "Start an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}": {
      "delete": {
        "summary": "Abandon an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}/commit": {
      "post": {
        "summary": "Commit an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}/blobs/{digest}": {
      "put": {
        "summary": "Upload one declared blob",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/{digest}": {
      "get": {
        "summary": "Read a committed manifest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/blobs/{digest}": {
      "head": {
        "summary": "Check whether a blob is held",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  }
}
