{
  "openapi": "3.1.0",
  "info": {
    "title": "Takoserver API",
    "version": "1.0.0",
    "summary": "An independent prepaid platform for Takoform-declared resources."
  },
  "servers": [
    {
      "url": "https://api.takoserver.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A session secret, an organization API key, or a resource-scoped token, depending on the route."
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "summary": "Console",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This document",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoserver": {
      "get": {
        "summary": "Product discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoform/v1": {
      "get": {
        "summary": "Stable Takoform Host discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/identity/providers": {
      "get": {
        "summary": "Identity providers accepted for sign-in",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/sessions": {
      "post": {
        "summary": "Exchange an external assertion for a session",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Read the signed-in principal and the organizations it owns",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/models": {
      "get": {
        "summary": "List configured OpenAI-compatible models",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/chat/completions": {
      "post": {
        "summary": "Create a prepaid OpenAI-compatible chat completion",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Stable per paid inference; replays return the same settled result."
          },
          {
            "name": "X-Takoserver-AI-Pricing-Revision",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^sha256:[a-f0-9]{64}$"
            },
            "description": "Optional exact model pricing revision from /v1/ai/models; drift is rejected before inference."
          }
        ]
      }
    },
    "/v1/forms": {
      "get": {
        "summary": "List every Form definition this Host will accept",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/organizations": {
      "post": {
        "summary": "Create an Organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys": {
      "post": {
        "summary": "Create a scoped API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "List the organization's live API keys",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/worker-runtime-input-preparations/{operationId}": {
      "put": {
        "summary": "Prepare one encrypted Worker runtime-input handoff",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "Read its value-free lifecycle projection",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Revoke one unclaimed Worker runtime-input handoff",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources": {
      "get": {
        "summary": "List the organization's Takoform resources",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}": {
      "get": {
        "summary": "Read one exact organization Takoform resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/native-residual": {
      "get": {
        "summary": "Prove provider-native absence after a Resource delete",
        "parameters": [
          {
            "name": "space",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed tri-state native absence attestation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "residual"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "residual": {
                      "type": "object",
                      "required": [
                        "status",
                        "source",
                        "effectCount",
                        "deploymentCount",
                        "checkedAt"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "absent",
                            "present",
                            "indeterminate"
                          ]
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "intrinsic",
                            "provider"
                          ]
                        },
                        "evidenceRef": {
                          "type": "string",
                          "pattern": "^sha256:[a-f0-9]{64}$"
                        },
                        "effectCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "deploymentCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "checkedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "closure_pending",
                            "effect_unresolved",
                            "deployment_active",
                            "deployment_unmarked",
                            "provider_unavailable",
                            "provider_readback_failed",
                            "provider_identity_missing",
                            "legacy_unattested"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid exact address query"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Resource incarnation not found"
          },
          "503": {
            "description": "Absence evidence is unavailable"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations": {
      "get": {
        "summary": "List explicit provider migrations for one logical Resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Plan a migration against an exact commercial reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}": {
      "get": {
        "summary": "Read one Resource Migration",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/execute": {
      "post": {
        "summary": "Provision, transfer, and verify a candidate Deployment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/cutover": {
      "post": {
        "summary": "Atomically activate the candidate and re-resolve Attachments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/rollback": {
      "post": {
        "summary": "Restore the retained Deployment and Attachment resolutions",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/cancel": {
      "post": {
        "summary": "Delete an uncut candidate and release its commercial reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/attachments": {
      "get": {
        "summary": "List the organization's Resource Attachments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Resolve and create a Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/attachments/{attachmentId}": {
      "get": {
        "summary": "Read one Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete one Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/s3-credentials": {
      "post": {
        "summary": "Issue short-lived S3 credentials for a historical ObjectBucket record",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/operations": {
      "get": {
        "summary": "List the organization's recent Takoform operations",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys/{apiKeyId}": {
      "delete": {
        "summary": "Revoke an API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet": {
      "get": {
        "summary": "Read the prepaid wallet",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/checkout": {
      "post": {
        "summary": "Begin a card payment for this organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/funding": {
      "post": {
        "summary": "Credit the wallet from a verified settlement proof",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/catalog": {
      "get": {
        "summary": "List purchasable offerings",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/quotes": {
      "post": {
        "summary": "Price an offering for a tenant",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations": {
      "post": {
        "summary": "Reserve a quote, holding funds",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/capture": {
      "post": {
        "summary": "Capture a reservation against reported usage",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/release": {
      "post": {
        "summary": "Release a reservation and return its hold",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/provision-tokens": {
      "post": {
        "summary": "Mint a single-use provisioning token for a reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/takoform-run-tokens": {
      "post": {
        "summary": "Mint a short-lived exact-Resource bearer for an ordinary Takoform provider run",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/usage-statement": {
      "get": {
        "summary": "Read the usage statement of a captured reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/forms": {
      "get": {
        "summary": "Resolve one exact installed Form",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/form-definitions/{group}/{kind}": {
      "get": {
        "summary": "Read an installed Form definition",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/forms": {
      "get": {
        "summary": "List support profiles for installed Forms",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/forms/{group}/{kind}/{definitionVersion}": {
      "get": {
        "summary": "Read one Form support profile",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/interfaces/{name}/{version}": {
      "get": {
        "summary": "Read a provided Interface contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/bindings/{name}/{version}": {
      "get": {
        "summary": "Read an accepted Binding contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/standard-services/{protocol}": {
      "get": {
        "summary": "Read exact standard-service support",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/validate": {
      "post": {
        "summary": "Validate desired state without recording it",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/prepare": {
      "post": {
        "summary": "Review desired state and mint a prepare digest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}": {
      "get": {
        "summary": "Read a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "summary": "Apply reviewed desired state",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}/observe": {
      "post": {
        "summary": "Refresh observed state from the backend",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}/import": {
      "post": {
        "summary": "Adopt an existing native resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/operations/{operationId}": {
      "get": {
        "summary": "Read a settled operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/operations/{operationId}/cancel": {
      "post": {
        "summary": "Request cancellation of an operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads": {
      "post": {
        "summary": "Start an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}": {
      "delete": {
        "summary": "Abandon an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}/commit": {
      "post": {
        "summary": "Commit an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}/blobs/{digest}": {
      "put": {
        "summary": "Upload one declared blob",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/{digest}": {
      "get": {
        "summary": "Read a committed manifest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/blobs/{digest}": {
      "head": {
        "summary": "Check whether a blob is held",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  }
}
