{
  "openapi": "3.1.0",
  "info": {
    "title": "Takoserver API",
    "version": "1.0.0",
    "summary": "An independent prepaid platform for Takoform-declared resources."
  },
  "servers": [
    {
      "url": "https://api.takoserver.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A session secret, an organization API key, a tenant-run Space-scoped token, a resource-scoped token, or a purpose-specific operator assertion, depending on the route."
      }
    },
    "schemas": {
      "TakoformV2Problem": {
        "type": "object",
        "required": [
          "type",
          "title",
          "status",
          "code"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "about:blank"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "minimum": 400,
            "maximum": 599
          },
          "code": {
            "type": "string"
          },
          "operationId": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          }
        }
      },
      "TakoformV2Resource": {
        "type": "object",
        "required": [
          "uid",
          "form",
          "space",
          "name",
          "generation",
          "observedGeneration",
          "observedAt",
          "phase",
          "spec",
          "observed",
          "output",
          "lastOperation"
        ],
        "additionalProperties": false,
        "properties": {
          "uid": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "form": {
            "type": "string",
            "format": "uri",
            "description": "Exact versioned HTTPS Form URL."
          },
          "space": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "name": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "generation": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991
          },
          "observedGeneration": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "observedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "phase": {
            "enum": [
              "pending",
              "idle",
              "deleting",
              "error"
            ]
          },
          "spec": {
            "type": "object",
            "additionalProperties": true
          },
          "observed": {
            "type": "object",
            "additionalProperties": true
          },
          "output": {
            "type": "object",
            "additionalProperties": true
          },
          "lastOperation": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          }
        }
      },
      "TakoformV2Operation": {
        "type": "object",
        "required": [
          "id",
          "resourceUid",
          "action",
          "generation",
          "status",
          "effect",
          "createdAt",
          "updatedAt",
          "retainUntil"
        ],
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "resourceUid": {
            "type": "string",
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "action": {
            "enum": [
              "create",
              "update",
              "delete"
            ]
          },
          "generation": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991
          },
          "status": {
            "enum": [
              "queued",
              "running",
              "waiting_input",
              "reconciling",
              "succeeded",
              "failed"
            ]
          },
          "effect": {
            "enum": [
              "none",
              "unknown",
              "partial",
              "complete"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "retainUntil": {
            "type": "string",
            "format": "date-time"
          },
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": false,
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          },
          "inputRequired": {
            "type": "object",
            "required": [
              "names",
              "reason"
            ],
            "additionalProperties": false,
            "properties": {
              "names": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "reason": {
                "enum": [
                  "expired",
                  "unavailable"
                ]
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "The /v1/* control lane's error envelope. Takoform v2 uses application/problem+json and TakoformV2Problem instead. The OpenAI-compatible /v1/ai/* lane answers that API's own error shape and is documented separately.",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "requestId",
              "retryable"
            ],
            "additionalProperties": false,
            "properties": {
              "code": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "message": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256
              },
              "requestId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "retryable": {
                "type": "boolean"
              },
              "hostCode": {
                "description": "This Host's own finer name for the refusal, when the closed portable code taxonomy cannot carry the distinction. The released provider decodes it alongside the portable code and never acts on it, so it refines a classification rather than replacing one. `cross_resource_precondition` marks a refusal whose truth is held by another resource, which this Host re-attempts rather than replays under the caller's idempotency key.",
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "details": {
                "description": "Lane-specific, value-free detail. Never derived from a secret."
              }
            }
          }
        }
      },
      "HostFormProfile": {
        "type": "object",
        "description": "One published Form definition and this Host's answer for it. `operations` lists the package-declared lifecycle; the optional availability fields report separate Host facts.",
        "required": [
          "apiVersion",
          "kind",
          "formRef",
          "operations"
        ],
        "additionalProperties": false,
        "properties": {
          "apiVersion": {
            "const": "support.takoform.com/v1alpha1"
          },
          "kind": {
            "const": "FormSupport"
          },
          "formRef": {
            "type": "object",
            "required": [
              "apiVersion",
              "kind",
              "definitionVersion",
              "schemaDigest"
            ],
            "additionalProperties": false,
            "properties": {
              "apiVersion": {
                "type": "string",
                "minLength": 1,
                "maxLength": 320
              },
              "kind": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "definitionVersion": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "schemaDigest": {
                "type": "string",
                "pattern": "^sha256:[a-f0-9]{64}$"
              }
            }
          },
          "operations": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          },
          "executable": {
            "description": "Whether this Host's composed execution support covers this exact Form. This does not guarantee activation, principal authorization, or operation success.",
            "type": "boolean"
          },
          "activated": {
            "description": "Whether this exact Form is activated by this Host. This does not report principal authorization or guarantee operation success.",
            "type": "boolean"
          },
          "availableToPrincipal": {
            "description": "Whether this Form is available to the principal for this request. This does not guarantee operation success.",
            "type": "boolean"
          },
          "supportedEnums": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "supportedBindings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "limits": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "HostFormCatalogue": {
        "type": "object",
        "required": [
          "profiles"
        ],
        "additionalProperties": false,
        "properties": {
          "profiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostFormProfile"
            }
          }
        }
      },
      "IntegrationOrganizationBootstrapOwner": {
        "type": "object",
        "description": "Exact already-stored operator identity. This value is authenticated and used only to resolve a principal; it is never returned by the bootstrap route.",
        "required": [
          "provider",
          "subject",
          "email",
          "displayName"
        ],
        "additionalProperties": false,
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "google",
              "github"
            ]
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          },
          "email": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256
          }
        }
      },
      "IntegrationOrganizationBootstrapStatusRequest": {
        "type": "object",
        "required": [
          "organizationId",
          "organizationName",
          "owner"
        ],
        "additionalProperties": false,
        "properties": {
          "organizationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "organizationName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "owner": {
            "$ref": "#/components/schemas/IntegrationOrganizationBootstrapOwner"
          }
        }
      },
      "IntegrationOrganizationBootstrapApplyRequest": {
        "type": "object",
        "required": [
          "organizationId",
          "organizationName",
          "owner",
          "ownerPrincipalId"
        ],
        "additionalProperties": false,
        "properties": {
          "organizationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "organizationName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "owner": {
            "$ref": "#/components/schemas/IntegrationOrganizationBootstrapOwner"
          },
          "ownerPrincipalId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "IntegrationOrganizationBootstrapStatus": {
        "type": "object",
        "required": [
          "kind",
          "state",
          "organizationId",
          "organizationName",
          "ownerPrincipalId",
          "createdAt"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "const": "takoserver.integration-organization-bootstrap-status@v1"
          },
          "state": {
            "type": "string",
            "enum": [
              "eligible",
              "present"
            ]
          },
          "organizationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "organizationName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "ownerPrincipalId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "createdAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "ArtifactConsumerRepairApply": {
        "type": "object",
        "required": [
          "kind",
          "planDigest"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "const": "takoserver.artifact-consumer-repair-apply@v1"
          },
          "planDigest": {
            "type": "string",
            "pattern": "^sha256:[a-f0-9]{64}$"
          }
        }
      },
      "ArtifactConsumerResolutionReceipt": {
        "type": "object",
        "required": [
          "kind",
          "receiptId",
          "deploymentId",
          "uncertaintyFence",
          "planDigest",
          "resolution",
          "createdAt"
        ],
        "additionalProperties": false,
        "oneOf": [
          {
            "required": [
              "manifestDigest"
            ],
            "properties": {
              "resolution": {
                "const": "attributed_manifest"
              }
            }
          },
          {
            "properties": {
              "resolution": {
                "type": "string",
                "enum": [
                  "terminalized_absent",
                  "verified_zero_consumption"
                ]
              }
            },
            "not": {
              "required": [
                "manifestDigest"
              ]
            }
          }
        ],
        "properties": {
          "kind": {
            "const": "takoserver.artifact-consumer-resolution-receipt@v1"
          },
          "receiptId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "deploymentId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "uncertaintyFence": {
            "type": "integer",
            "minimum": 1
          },
          "planDigest": {
            "type": "string",
            "pattern": "^sha256:[a-f0-9]{64}$"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "terminalized_absent",
              "attributed_manifest",
              "verified_zero_consumption"
            ]
          },
          "manifestDigest": {
            "type": "string",
            "pattern": "^sha256:[a-f0-9]{64}$"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ArtifactConsumerRepairStatus": {
        "type": "object",
        "required": [
          "kind",
          "deploymentId",
          "state",
          "planDigest",
          "uncertaintyFence",
          "candidateManifestCount"
        ],
        "additionalProperties": false,
        "properties": {
          "kind": {
            "const": "takoserver.artifact-consumer-repair-status@v1"
          },
          "deploymentId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "state": {
            "type": "string",
            "enum": [
              "actionable",
              "blocked",
              "resolved"
            ]
          },
          "planDigest": {
            "type": "string",
            "pattern": "^sha256:[a-f0-9]{64}$"
          },
          "uncertaintyFence": {
            "type": "integer",
            "minimum": 1
          },
          "candidateManifestCount": {
            "type": "integer",
            "minimum": 0
          },
          "path": {
            "type": "string",
            "enum": [
              "retained-closed",
              "retained-historical",
              "active-resource"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "verify-native-absence",
              "verify-artifact-consumption"
            ]
          },
          "blocker": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "receipt": {
            "$ref": "#/components/schemas/ArtifactConsumerResolutionReceipt"
          }
        }
      },
      "ResourceExecutionCommit": {
        "type": "object",
        "required": [
          "sequence",
          "operationId",
          "action",
          "outcome",
          "resourceVersion",
          "committedAt"
        ],
        "additionalProperties": false,
        "properties": {
          "sequence": {
            "type": "integer",
            "minimum": 1
          },
          "operationId": {
            "type": "string",
            "minLength": 3,
            "maxLength": 128
          },
          "action": {
            "type": "string",
            "enum": [
              "create",
              "update",
              "delete"
            ]
          },
          "outcome": {
            "const": "committed"
          },
          "resourceVersion": {
            "type": "object",
            "required": [
              "generation",
              "revision"
            ],
            "additionalProperties": false,
            "properties": {
              "generation": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "pattern": "^[0-9]+$"
              },
              "revision": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "pattern": "^[0-9]+$"
              }
            }
          },
          "committedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResourceExecutionEvidence": {
        "type": "object",
        "required": [
          "format",
          "organizationId",
          "resource",
          "coverage",
          "snapshotFence",
          "commits"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.resource-execution-evidence/v1"
          },
          "organizationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "resource": {
            "type": "object",
            "required": [
              "uid",
              "address",
              "formRef"
            ],
            "additionalProperties": false,
            "properties": {
              "uid": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "address": {
                "type": "object",
                "required": [
                  "space",
                  "apiVersion",
                  "kind",
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "space": {
                    "type": "string",
                    "description": "Opaque stable Host Space identifier: 1-255 Unicode code points, with no slash, C0/C1 control, or boundary whitespace.",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^(?![\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff])(?![\\s\\S]*[/\\u0000-\\u001f\\u007f-\\u009f])(?![\\s\\S]*[\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff]$)[\\s\\S]+$"
                  },
                  "apiVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 320
                  },
                  "kind": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                  }
                }
              },
              "formRef": {
                "type": "object",
                "required": [
                  "apiVersion",
                  "kind",
                  "definitionVersion",
                  "schemaDigest"
                ],
                "additionalProperties": false,
                "properties": {
                  "apiVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 320
                  },
                  "kind": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "definitionVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "schemaDigest": {
                    "type": "string",
                    "pattern": "^sha256:[a-f0-9]{64}$"
                  }
                }
              }
            }
          },
          "coverage": {
            "type": "string",
            "enum": [
              "complete",
              "partial"
            ]
          },
          "snapshotFence": {
            "type": "integer",
            "minimum": 0
          },
          "commits": {
            "type": "array",
            "maxItems": 200,
            "items": {
              "$ref": "#/components/schemas/ResourceExecutionCommit"
            }
          }
        }
      },
      "ResourceExecutionEvidenceResponse": {
        "type": "object",
        "required": [
          "executionEvidence"
        ],
        "additionalProperties": false,
        "properties": {
          "executionEvidence": {
            "$ref": "#/components/schemas/ResourceExecutionEvidence"
          },
          "cursor": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "pattern": "^[A-Za-z0-9_-]+$"
          }
        }
      },
      "WorkerEndpointOriginReservationLegacyTarget": {
        "type": "object",
        "required": [
          "space",
          "workerName",
          "endpointName"
        ],
        "additionalProperties": false,
        "properties": {
          "space": {
            "type": "string",
            "description": "Opaque stable Host Space identifier: 1-255 Unicode code points, with no slash, C0/C1 control, or boundary whitespace.",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^(?![\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff])(?![\\s\\S]*[/\\u0000-\\u001f\\u007f-\\u009f])(?![\\s\\S]*[\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff]$)[\\s\\S]+$"
          },
          "workerName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "endpointName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          }
        }
      },
      "WorkerEndpointOriginReservationRequest": {
        "type": "object",
        "required": [
          "format",
          "requestedSubdomain",
          "expiresInSeconds"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation.v2"
          },
          "requestedSubdomain": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
          },
          "offeringId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "expiresInSeconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 86400
          }
        }
      },
      "WorkerEndpointOriginReservationBinding": {
        "type": "object",
        "required": [
          "space",
          "workerName",
          "workerResourceUid",
          "workerResourceRevision"
        ],
        "additionalProperties": false,
        "oneOf": [
          {
            "not": {
              "anyOf": [
                {
                  "required": [
                    "endpointName"
                  ]
                },
                {
                  "required": [
                    "endpointResourceUid"
                  ]
                },
                {
                  "required": [
                    "endpointResourceRevision"
                  ]
                }
              ]
            }
          },
          {
            "required": [
              "endpointName",
              "endpointResourceUid",
              "endpointResourceRevision"
            ]
          }
        ],
        "properties": {
          "space": {
            "type": "string",
            "description": "Opaque stable Host Space identifier: 1-255 Unicode code points, with no slash, C0/C1 control, or boundary whitespace.",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^(?![\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff])(?![\\s\\S]*[/\\u0000-\\u001f\\u007f-\\u009f])(?![\\s\\S]*[\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff]$)[\\s\\S]+$"
          },
          "workerName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "workerResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "workerResourceRevision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "endpointName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "endpointResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "endpointResourceRevision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          }
        }
      },
      "WorkerEndpointOriginReservationV2": {
        "type": "object",
        "required": [
          "format",
          "reservationId",
          "requestedSubdomain",
          "canonicalPublicOrigin",
          "revision",
          "expiresAt",
          "status"
        ],
        "additionalProperties": false,
        "oneOf": [
          {
            "properties": {
              "status": {
                "const": "prepared"
              }
            },
            "not": {
              "required": [
                "binding"
              ]
            }
          },
          {
            "properties": {
              "status": {
                "const": "bound"
              }
            },
            "required": [
              "binding"
            ]
          },
          {
            "properties": {
              "status": {
                "const": "activated"
              },
              "binding": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkerEndpointOriginReservationBinding"
                  },
                  {
                    "required": [
                      "endpointName",
                      "endpointResourceUid",
                      "endpointResourceRevision"
                    ]
                  }
                ]
              }
            },
            "required": [
              "binding"
            ]
          }
        ],
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation.v2"
          },
          "reservationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "requestedSubdomain": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://[^/]+$",
            "maxLength": 2048
          },
          "revision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "prepared",
              "bound",
              "activated"
            ]
          },
          "binding": {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationBinding"
          }
        }
      },
      "WorkerEndpointOriginReservationV1": {
        "type": "object",
        "required": [
          "format",
          "reservationId",
          "canonicalPublicOrigin",
          "revision",
          "expiresAt",
          "target",
          "status"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation.v1"
          },
          "reservationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https?://[^/]+$",
            "maxLength": 2048
          },
          "revision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationLegacyTarget"
          },
          "status": {
            "type": "string",
            "enum": [
              "prepared",
              "bound",
              "activated"
            ]
          },
          "workerResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "endpointResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "WorkerEndpointOriginReservation": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationV2"
          },
          {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationV1"
          }
        ]
      },
      "WorkerEndpointOriginReservationActivationRequest": {
        "type": "object",
        "required": [
          "format",
          "endpointResourceUid"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation-activation.v2"
          },
          "endpointResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "WorkerRuntimeInputPublicApply": {
        "type": "object",
        "description": "The exact ordinary public apply this handoff authorizes. The host commits to it as the length-prefixed SHA-256 of [label, method, path, ifNoneMatch, body].",
        "required": [
          "method",
          "path",
          "fences",
          "body"
        ],
        "additionalProperties": false,
        "properties": {
          "method": {
            "const": "PUT"
          },
          "path": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8192,
            "pattern": "^/"
          },
          "fences": {
            "type": "object",
            "required": [
              "ifNoneMatch"
            ],
            "additionalProperties": false,
            "properties": {
              "ifNoneMatch": {
                "const": "*"
              }
            }
          },
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1048576
          }
        }
      },
      "WorkerRuntimeInputPreparationRequest": {
        "type": "object",
        "required": [
          "format",
          "canonicalPublicOrigin",
          "publicApply",
          "bindings"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-runtime-input-preparation@v2"
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://[^/]+$",
            "maxLength": 2048
          },
          "publicApply": {
            "$ref": "#/components/schemas/WorkerRuntimeInputPublicApply"
          },
          "bindings": {
            "type": "object",
            "minProperties": 1,
            "maxProperties": 64,
            "propertyNames": {
              "pattern": "^[A-Z_][A-Z0-9_]{0,127}$"
            },
            "additionalProperties": {
              "type": "string",
              "minLength": 1,
              "maxLength": 32768
            }
          }
        }
      },
      "WorkerRuntimeInputPreparation": {
        "type": "object",
        "required": [
          "format",
          "status",
          "operationKey",
          "applyCommitment",
          "canonicalPublicOrigin",
          "bindingNames"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-runtime-input-preparation@v2"
          },
          "status": {
            "type": "string",
            "enum": [
              "prepared",
              "accepted",
              "dispatched",
              "consumed"
            ]
          },
          "operationKey": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
          },
          "applyCommitment": {
            "type": "string",
            "pattern": "^sha256:[0-9a-f]{64}$"
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://[^/]+$",
            "maxLength": 2048
          },
          "bindingNames": {
            "type": "array",
            "minItems": 1,
            "maxItems": 64,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^[A-Z_][A-Z0-9_]{0,127}$"
            }
          },
          "hostOperationId": {
            "type": "string",
            "description": "Present exactly when the handoff has been claimed by a Host operation.",
            "pattern": "^op_[A-Za-z0-9][A-Za-z0-9._-]{0,124}$"
          }
        }
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "summary": "Console",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This document",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoserver": {
      "get": {
        "summary": "Product discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoform/v2": {
      "get": {
        "summary": "Takoform Host API v2 connection and capability discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/identity/providers": {
      "get": {
        "summary": "Identity providers accepted for sign-in",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/operator-owner-proof": {
      "post": {
        "summary": "Prove an operator assertion names an existing exact Organization owner without creating durable state",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/operator/integration-e2e/organization-bootstrap/status": {
      "post": {
        "summary": "Inspect the fixed integration Organization bootstrap",
        "description": "Integration-only operator authority. A sixty-second assertion signed by the configured identity-only operator key binds this exact request and the current Host provenance. It resolves only an already-stored exact principal and never creates a principal or session.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationOrganizationBootstrapStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact tuple is eligible for creation or is already present",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationOrganizationBootstrapStatus"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Exact short-lived operator assertion required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request differs from the fixed integration policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Principal or Organization tuple is unavailable or conflicting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Integration bootstrap authority is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/operator/integration-e2e/organization-bootstrap/apply": {
      "post": {
        "summary": "Create the fixed integration Organization owner tuple",
        "description": "Integration-only operator authority. The ownerPrincipalId must be copied from a current signed status response. Creation inserts only the Organization and its owner membership in one atomic batch; an exact existing tuple is a no-op. There is no automatic reversal or destroy operation.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationOrganizationBootstrapApplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exact tuple was already present",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationOrganizationBootstrapStatus"
                }
              }
            }
          },
          "201": {
            "description": "Exact tuple was atomically created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationOrganizationBootstrapStatus"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Exact short-lived operator assertion required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request differs from the fixed integration policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Principal or Organization tuple is unavailable or conflicting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Integration bootstrap authority is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions": {
      "post": {
        "summary": "Exchange an external assertion for a session",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/session": {
      "delete": {
        "summary": "Sign out and revoke the current session",
        "responses": {
          "204": {
            "description": "The session is revoked and its cookie cleared"
          },
          "401": {
            "description": "A session credential is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Read the signed-in principal and the organizations it owns",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/models": {
      "get": {
        "summary": "List configured OpenAI-compatible models",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/chat/completions": {
      "post": {
        "summary": "Create a prepaid OpenAI-compatible chat completion",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Stable per paid inference; replays return the same settled result."
          },
          {
            "name": "X-Takoserver-AI-Pricing-Revision",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^sha256:[a-f0-9]{64}$"
            },
            "description": "Optional exact model pricing revision from /v1/ai/models; drift is rejected before inference."
          }
        ]
      }
    },
    "/v1/forms": {
      "get": {
        "summary": "List the published Form definitions and this Host's answer for each",
        "responses": {
          "200": {
            "description": "The published Form definitions and this Host's answer for each",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostFormCatalogue"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/organizations": {
      "post": {
        "summary": "Create an Organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys": {
      "post": {
        "summary": "Create a scoped API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "List the organization's live API keys",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/worker-endpoint-origin-reservations/{reservationId}": {
      "put": {
        "summary": "Prepare or exactly replay a future Worker endpoint origin reservation",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prepared reservation; an exact replay returns the same closed projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservationV2"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Replay, requested-subdomain, canonical-origin, or placement conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "No unique eligible ModuleWorker offering or provider capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Placement or reservation authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Read one live Worker endpoint origin reservation",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live value-free reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Reservation absent, released, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release a Worker endpoint origin reservation",
        "description": "Idempotent after release. Activation must first be deleted, and a retained endpoint UID continues to fence release until that exact Resource is deleted with closed provider absence.",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Released or already absent/released"
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Still activated, claimed, or fenced by the retained endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Reservation authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/worker-endpoint-origin-reservations/{reservationId}/activation": {
      "put": {
        "summary": "Activate the reservation against one exact realized Ready WorkerEndpoint",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationActivationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Reservation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Endpoint identity, relation, readiness, origin, or placement conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Reservation or Resource authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deactivate the exact endpoint while retaining its UID as the release witness",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationActivationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Reservation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Endpoint identity, relation, readiness, origin, or placement conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Reservation or Resource authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/takoform/worker-runtime-input-preparations/{operationKey}": {
      "put": {
        "summary": "Prepare one encrypted Worker runtime-input handoff",
        "description": "An organization resources:write API key may prepare across the organization. An admitted tenant-run credential may prepare only when this exact create-only WorkerVersion apply targets the credential's Space.",
        "parameters": [
          {
            "name": "operationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Must equal the operation key in the path.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerRuntimeInputPreparationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prepared value-free handoff projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerRuntimeInputPreparation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request, wrong Host origin, or wrong operation key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key or admitted tenant-run credential required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated caller is not an eligible organization writer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "The tenant credential and apply or handoff Space do not match",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The operation key already carries a different or spent handoff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sealing or authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Read a Worker runtime-input handoff without secret values",
        "description": "An organization resources:write API key may read across the organization. An admitted tenant-run credential sees only handoffs pre-bound to its exact Space.",
        "parameters": [
          {
            "name": "operationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Must equal the operation key in the path.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value-free lifecycle projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerRuntimeInputPreparation"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key or admitted tenant-run credential required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated caller is not an eligible organization writer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No live handoff exists in the caller's authority for this key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke one undispatched Worker runtime-input handoff",
        "parameters": [
          {
            "name": "operationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Must equal the operation key in the path.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked or already revoked"
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The handoff is already dispatched or indeterminate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources": {
      "get": {
        "summary": "List the organization's Takoform resources",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "space",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque stable Host Space identifier: 1-255 Unicode code points, with no slash, C0/C1 control, or boundary whitespace.",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^(?![\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff])(?![\\s\\S]*[/\\u0000-\\u001f\\u007f-\\u009f])(?![\\s\\S]*[\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff]$)[\\s\\S]+$"
            }
          }
        ]
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}": {
      "get": {
        "summary": "Read one exact organization Takoform resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/execution-evidence": {
      "get": {
        "summary": "Read immutable value-free Resource execution evidence",
        "description": "Returns one cursor-bound snapshot of the logical Resource commits owned by Takoserver. The projection contains no desired values, outputs, credentials, provider-native identity, or provider receipt.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "resourceUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024,
              "pattern": "^[A-Za-z0-9_-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One immutable Resource execution-evidence page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceExecutionEvidenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed limit or snapshot cursor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource incarnation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Execution evidence is unavailable or malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/native-residual": {
      "get": {
        "summary": "Prove provider-native absence after a Resource delete",
        "parameters": [
          {
            "name": "space",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Opaque stable Host Space identifier: 1-255 Unicode code points, with no slash, C0/C1 control, or boundary whitespace.",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^(?![\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff])(?![\\s\\S]*[/\\u0000-\\u001f\\u007f-\\u009f])(?![\\s\\S]*[\\u0009-\\u000d\\u0020\\u0085\\u00a0\\u1680\\u2000-\\u200a\\u2028\\u2029\\u202f\\u205f\\u3000\\ufeff]$)[\\s\\S]+$"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed tri-state native absence attestation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "residual"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "residual": {
                      "type": "object",
                      "required": [
                        "status",
                        "source",
                        "effectCount",
                        "deploymentCount",
                        "checkedAt"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "absent",
                            "present",
                            "indeterminate"
                          ]
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "intrinsic",
                            "provider"
                          ]
                        },
                        "evidenceRef": {
                          "type": "string",
                          "pattern": "^sha256:[a-f0-9]{64}$"
                        },
                        "effectCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "deploymentCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "checkedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "closure_pending",
                            "effect_unresolved",
                            "deployment_active",
                            "deployment_unmarked",
                            "provider_unavailable",
                            "provider_readback_failed",
                            "provider_identity_missing",
                            "legacy_unattested"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid exact address query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource incarnation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Absence evidence is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/artifact-consumer-repairs/{deploymentId}": {
      "get": {
        "summary": "Read the provider-backed repair plan for one uncertain artifact consumer",
        "description": "Lifecycle-owner surface. This canonicalizes the current database snapshot but performs no provider readback and no mutation.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical current repair status and plan digest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "repair"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "repair": {
                      "$ref": "#/components/schemas/ArtifactConsumerRepairStatus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed organization or deployment identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization owner session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Organization ownership, deployment, or uncertainty not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Lifecycle state unavailable or malformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Apply one exact provider-backed artifact-consumer repair plan",
        "description": "Recomputes the plan, obtains fresh provider evidence, rechecks the entire snapshot, and commits through lifecycle-owned CAS. The caller supplies neither an outcome nor evidence.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArtifactConsumerRepairApply"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Durable append-only resolution receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "receipt"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "receipt": {
                      "$ref": "#/components/schemas/ArtifactConsumerResolutionReceipt"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed body, plan digest, or idempotency key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization owner session required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Organization ownership, deployment, or uncertainty not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Plan drift, blocked evidence, or idempotency conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Provider or lifecycle authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations": {
      "get": {
        "summary": "List explicit provider migrations for one logical Resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Plan a migration against an exact commercial reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}": {
      "get": {
        "summary": "Read one Resource Migration",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/execute": {
      "post": {
        "summary": "Provision, transfer, and verify a candidate Deployment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/cutover": {
      "post": {
        "summary": "Atomically activate the candidate and re-resolve Attachments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/rollback": {
      "post": {
        "summary": "Restore the retained Deployment and Attachment resolutions",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/cancel": {
      "post": {
        "summary": "Delete an uncut candidate and release its commercial reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/attachments": {
      "get": {
        "summary": "List the organization's Resource Attachments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Resolve and create a Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/attachments/{attachmentId}": {
      "get": {
        "summary": "Read one Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete one Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/operations": {
      "get": {
        "summary": "List the organization's recent Takoform operations",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys/{apiKeyId}": {
      "delete": {
        "summary": "Revoke an API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet": {
      "get": {
        "summary": "Read the prepaid wallet",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/checkout": {
      "post": {
        "summary": "Begin a card payment for this organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/funding": {
      "post": {
        "summary": "Credit the wallet from a verified settlement proof",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/catalog": {
      "get": {
        "summary": "List purchasable offerings",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/quotes": {
      "post": {
        "summary": "Price an offering for a tenant",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations": {
      "post": {
        "summary": "Reserve a quote, holding funds",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/capture": {
      "post": {
        "summary": "Capture a reservation against reported usage",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/release": {
      "post": {
        "summary": "Release a reservation and return its hold",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/provision-tokens": {
      "post": {
        "summary": "Mint a single-use provisioning token for a reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/takoform-run-tokens": {
      "post": {
        "summary": "Mint a short-lived exact-Resource bearer for an ordinary Takoform provider run",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/usage-statement": {
      "get": {
        "summary": "Read the usage statement of a captured reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v2/support": {
      "get": {
        "summary": "Check implementation support for one exact Form URL",
        "parameters": [
          {
            "in": "header",
            "name": "Takoform-Organization",
            "required": false,
            "description": "Required for an owner session. An API key uses its authenticated organization, never this header.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
            }
          },
          {
            "in": "query",
            "name": "form",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "Exact versioned HTTPS Form URL."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Technical support only; not authorization, capacity, or a guarantee of creation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "form",
                    "supported",
                    "operations",
                    "privateInputs"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "form": {
                      "type": "string",
                      "format": "uri",
                      "description": "Exact versioned HTTPS Form URL."
                    },
                    "supported": {
                      "type": "boolean"
                    },
                    "operations": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "create",
                          "read",
                          "update",
                          "delete"
                        ]
                      }
                    },
                    "privateInputs": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Request refused; code classifies the failure without provider or secret payloads.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/TakoformV2Problem"
                }
              }
            }
          }
        }
      }
    },
    "/apis/forms.takoform.com/v2/resources": {
      "get": {
        "summary": "List resources visible to this organization",
        "parameters": [
          {
            "in": "header",
            "name": "Takoform-Organization",
            "required": false,
            "description": "Required for an owner session. An API key uses its authenticated organization, never this header.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
            }
          },
          {
            "in": "query",
            "name": "space",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
            }
          },
          {
            "in": "query",
            "name": "form",
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "Exact versioned HTTPS Form URL."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page from durable state; reading does not dispatch operations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TakoformV2Resource"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Request refused; code classifies the failure without provider or secret payloads.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/TakoformV2Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Accept creation of a resource and return its Operation",
        "parameters": [
          {
            "in": "header",
            "name": "Takoform-Organization",
            "required": false,
            "description": "Required for an owner session. An API key uses its authenticated organization, never this header.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
            }
          },
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "description": "Unique operation key shared by the organization's credentials.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{15,127}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form",
                  "space",
                  "name",
                  "spec"
                ],
                "additionalProperties": false,
                "properties": {
                  "form": {
                    "type": "string",
                    "format": "uri",
                    "description": "Exact versioned HTTPS Form URL."
                  },
                  "space": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                  },
                  "name": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
                  },
                  "spec": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "privateInputs": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Replay of a terminal Operation, including failed Operations; inspect status and effect.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakoformV2Operation"
                }
              }
            }
          },
          "202": {
            "description": "Operation durably accepted or still pending; this does not mean the effect succeeded.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakoformV2Operation"
                }
              }
            }
          },
          "default": {
            "description": "Request refused; code classifies the failure without provider or secret payloads.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/TakoformV2Problem"
                }
              }
            }
          }
        }
      }
    },
    "/apis/forms.takoform.com/v2/resources/{uid}": {
      "get": {
        "summary": "Read durable resource state without executing an operation",
        "parameters": [
          {
            "in": "header",
            "name": "Takoform-Organization",
[...]
