{
  "openapi": "3.1.0",
  "info": {
    "title": "Takoserver API",
    "version": "1.0.0",
    "summary": "An independent prepaid platform for Takoform-declared resources."
  },
  "servers": [
    {
      "url": "https://api.takoserver.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A session secret, an organization API key, or a resource-scoped token, depending on the route."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "The wire error envelope of the stable Takoform Host lane and the /v1/* control lane. Every response documented against this schema carries exactly these members. The OpenAI-compatible /v1/ai/* lane answers that API's own error shape and is documented separately.",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "requestId",
              "retryable"
            ],
            "additionalProperties": false,
            "properties": {
              "code": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "message": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256
              },
              "requestId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "retryable": {
                "type": "boolean"
              },
              "details": {
                "description": "Lane-specific, value-free detail. Never derived from a secret."
              }
            }
          }
        }
      },
      "WorkerEndpointOriginReservationLegacyTarget": {
        "type": "object",
        "required": [
          "space",
          "workerName",
          "endpointName"
        ],
        "additionalProperties": false,
        "properties": {
          "space": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "workerName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "endpointName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          }
        }
      },
      "WorkerEndpointOriginReservationRequest": {
        "type": "object",
        "required": [
          "format",
          "requestedSubdomain",
          "expiresInSeconds"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation.v2"
          },
          "requestedSubdomain": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
          },
          "offeringId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "expiresInSeconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 86400
          }
        }
      },
      "WorkerEndpointOriginReservationBinding": {
        "type": "object",
        "required": [
          "space",
          "workerName",
          "workerResourceUid",
          "workerResourceRevision"
        ],
        "additionalProperties": false,
        "oneOf": [
          {
            "not": {
              "anyOf": [
                {
                  "required": [
                    "endpointName"
                  ]
                },
                {
                  "required": [
                    "endpointResourceUid"
                  ]
                },
                {
                  "required": [
                    "endpointResourceRevision"
                  ]
                }
              ]
            }
          },
          {
            "required": [
              "endpointName",
              "endpointResourceUid",
              "endpointResourceRevision"
            ]
          }
        ],
        "properties": {
          "space": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "workerName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "workerResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "workerResourceRevision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "endpointName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
          },
          "endpointResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "endpointResourceRevision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          }
        }
      },
      "WorkerEndpointOriginReservationV2": {
        "type": "object",
        "required": [
          "format",
          "reservationId",
          "requestedSubdomain",
          "canonicalPublicOrigin",
          "revision",
          "expiresAt",
          "status"
        ],
        "additionalProperties": false,
        "oneOf": [
          {
            "properties": {
              "status": {
                "const": "prepared"
              }
            },
            "not": {
              "required": [
                "binding"
              ]
            }
          },
          {
            "properties": {
              "status": {
                "const": "bound"
              }
            },
            "required": [
              "binding"
            ]
          },
          {
            "properties": {
              "status": {
                "const": "activated"
              },
              "binding": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkerEndpointOriginReservationBinding"
                  },
                  {
                    "required": [
                      "endpointName",
                      "endpointResourceUid",
                      "endpointResourceRevision"
                    ]
                  }
                ]
              }
            },
            "required": [
              "binding"
            ]
          }
        ],
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation.v2"
          },
          "reservationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "requestedSubdomain": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://[^/]+$",
            "maxLength": 2048
          },
          "revision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "prepared",
              "bound",
              "activated"
            ]
          },
          "binding": {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationBinding"
          }
        }
      },
      "WorkerEndpointOriginReservationV1": {
        "type": "object",
        "required": [
          "format",
          "reservationId",
          "canonicalPublicOrigin",
          "revision",
          "expiresAt",
          "target",
          "status"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation.v1"
          },
          "reservationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://[^/]+$",
            "maxLength": 2048
          },
          "revision": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "target": {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationLegacyTarget"
          },
          "status": {
            "type": "string",
            "enum": [
              "prepared",
              "bound",
              "activated"
            ]
          },
          "workerResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "endpointResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "WorkerEndpointOriginReservation": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationV2"
          },
          {
            "$ref": "#/components/schemas/WorkerEndpointOriginReservationV1"
          }
        ]
      },
      "WorkerEndpointOriginReservationActivationRequest": {
        "type": "object",
        "required": [
          "format",
          "endpointResourceUid"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-endpoint-origin-reservation-activation.v2"
          },
          "endpointResourceUid": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        }
      },
      "WorkerRuntimeInputPublicApply": {
        "type": "object",
        "description": "The exact ordinary public apply this handoff authorizes. The host commits to it as the length-prefixed SHA-256 of [label, method, path, ifNoneMatch, body].",
        "required": [
          "method",
          "path",
          "fences",
          "body"
        ],
        "additionalProperties": false,
        "properties": {
          "method": {
            "const": "PUT"
          },
          "path": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8192,
            "pattern": "^/"
          },
          "fences": {
            "type": "object",
            "required": [
              "ifNoneMatch"
            ],
            "additionalProperties": false,
            "properties": {
              "ifNoneMatch": {
                "const": "*"
              }
            }
          },
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1048576
          }
        }
      },
      "WorkerRuntimeInputPreparationRequest": {
        "type": "object",
        "required": [
          "format",
          "canonicalPublicOrigin",
          "publicApply",
          "bindings"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-runtime-input-preparation@v2"
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://[^/]+$",
            "maxLength": 2048
          },
          "publicApply": {
            "$ref": "#/components/schemas/WorkerRuntimeInputPublicApply"
          },
          "bindings": {
            "type": "object",
            "minProperties": 1,
            "maxProperties": 64,
            "propertyNames": {
              "pattern": "^[A-Z_][A-Z0-9_]{0,127}$"
            },
            "additionalProperties": {
              "type": "string",
              "minLength": 1,
              "maxLength": 32768
            }
          }
        }
      },
      "WorkerRuntimeInputPreparation": {
        "type": "object",
        "required": [
          "format",
          "status",
          "operationKey",
          "applyCommitment",
          "canonicalPublicOrigin",
          "bindingNames"
        ],
        "additionalProperties": false,
        "properties": {
          "format": {
            "const": "takoserver.worker-runtime-input-preparation@v2"
          },
          "status": {
            "type": "string",
            "enum": [
              "prepared",
              "accepted",
              "dispatched",
              "consumed"
            ]
          },
          "operationKey": {
            "type": "string",
            "minLength": 8,
            "maxLength": 128,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
          },
          "applyCommitment": {
            "type": "string",
            "pattern": "^sha256:[0-9a-f]{64}$"
          },
          "canonicalPublicOrigin": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://[^/]+$",
            "maxLength": 2048
          },
          "bindingNames": {
            "type": "array",
            "minItems": 1,
            "maxItems": 64,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^[A-Z_][A-Z0-9_]{0,127}$"
            }
          },
          "hostOperationId": {
            "type": "string",
            "description": "Present exactly when the handoff has been claimed by a Host operation.",
            "pattern": "^op_[A-Za-z0-9][A-Za-z0-9._-]{0,124}$"
          }
        }
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "summary": "Console",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This document",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoserver": {
      "get": {
        "summary": "Product discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoform/v1": {
      "get": {
        "summary": "Stable Takoform Host discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/identity/providers": {
      "get": {
        "summary": "Identity providers accepted for sign-in",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/sessions": {
      "post": {
        "summary": "Exchange an external assertion for a session",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Read the signed-in principal and the organizations it owns",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/models": {
      "get": {
        "summary": "List configured OpenAI-compatible models",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ai/chat/completions": {
      "post": {
        "summary": "Create a prepaid OpenAI-compatible chat completion",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Stable per paid inference; replays return the same settled result."
          },
          {
            "name": "X-Takoserver-AI-Pricing-Revision",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^sha256:[a-f0-9]{64}$"
            },
            "description": "Optional exact model pricing revision from /v1/ai/models; drift is rejected before inference."
          }
        ]
      }
    },
    "/v1/forms": {
      "get": {
        "summary": "List every Form definition this Host will accept",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/organizations": {
      "post": {
        "summary": "Create an Organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys": {
      "post": {
        "summary": "Create a scoped API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "List the organization's live API keys",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/worker-endpoint-origin-reservations/{reservationId}": {
      "put": {
        "summary": "Prepare or exactly replay a future Worker endpoint origin reservation",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prepared reservation; an exact replay returns the same closed projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservationV2"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Replay, requested-subdomain, canonical-origin, or placement conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "No unique eligible ModuleWorker offering or provider capability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Placement or reservation authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Read one live Worker endpoint origin reservation",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live value-free reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Reservation absent, released, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Release a Worker endpoint origin reservation",
        "description": "Idempotent after release. Activation must first be deleted, and a retained endpoint UID continues to fence release until that exact Resource is deleted with closed provider absence.",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Released or already absent/released"
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Still activated, claimed, or fenced by the retained endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Reservation authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/worker-endpoint-origin-reservations/{reservationId}/activation": {
      "put": {
        "summary": "Activate the reservation against one exact realized Ready WorkerEndpoint",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationActivationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Reservation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Endpoint identity, relation, readiness, origin, or placement conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Reservation or Resource authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Deactivate the exact endpoint while retaining its UID as the release witness",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerEndpointOriginReservationActivationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated reservation projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerEndpointOriginReservation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or open request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Reservation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Endpoint identity, relation, readiness, origin, or placement conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Reservation or Resource authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/takoform/worker-runtime-input-preparations/{operationKey}": {
      "put": {
        "summary": "Prepare one encrypted Worker runtime-input handoff",
        "parameters": [
          {
            "name": "operationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Must equal the operation key in the path.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerRuntimeInputPreparationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prepared value-free handoff projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerRuntimeInputPreparation"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request, wrong Host origin, or wrong operation key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The operation key already carries a different or spent handoff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sealing or authority unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Read a Worker runtime-input handoff without secret values",
        "parameters": [
          {
            "name": "operationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Must equal the operation key in the path.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value-free lifecycle projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerRuntimeInputPreparation"
                }
              }
            }
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No live handoff exists for this operation key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Revoke one undispatched Worker runtime-input handoff",
        "parameters": [
          {
            "name": "operationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Must equal the operation key in the path.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128,
              "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{7,127}$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked or already revoked"
          },
          "401": {
            "description": "Organization API key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks resources:write",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The handoff is already dispatched or indeterminate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources": {
      "get": {
        "summary": "List the organization's Takoform resources",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}": {
      "get": {
        "summary": "Read one exact organization Takoform resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/native-residual": {
      "get": {
        "summary": "Prove provider-native absence after a Resource delete",
        "parameters": [
          {
            "name": "space",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed tri-state native absence attestation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "residual"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "residual": {
                      "type": "object",
                      "required": [
                        "status",
                        "source",
                        "effectCount",
                        "deploymentCount",
                        "checkedAt"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "absent",
                            "present",
                            "indeterminate"
                          ]
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "intrinsic",
                            "provider"
                          ]
                        },
                        "evidenceRef": {
                          "type": "string",
                          "pattern": "^sha256:[a-f0-9]{64}$"
                        },
                        "effectCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "deploymentCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "checkedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "closure_pending",
                            "effect_unresolved",
                            "deployment_active",
                            "deployment_unmarked",
                            "provider_unavailable",
                            "provider_readback_failed",
                            "provider_identity_missing",
                            "legacy_unattested"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid exact address query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource incarnation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Absence evidence is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations": {
      "get": {
        "summary": "List explicit provider migrations for one logical Resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Plan a migration against an exact commercial reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}": {
      "get": {
        "summary": "Read one Resource Migration",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/execute": {
      "post": {
        "summary": "Provision, transfer, and verify a candidate Deployment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/cutover": {
      "post": {
        "summary": "Atomically activate the candidate and re-resolve Attachments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/rollback": {
      "post": {
        "summary": "Restore the retained Deployment and Attachment resolutions",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources/{resourceUid}/migrations/{migrationId}/cancel": {
      "post": {
        "summary": "Delete an uncut candidate and release its commercial reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/attachments": {
      "get": {
        "summary": "List the organization's Resource Attachments",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Resolve and create a Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/attachments/{attachmentId}": {
      "get": {
        "summary": "Read one Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete one Resource Attachment",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/operations": {
      "get": {
        "summary": "List the organization's recent Takoform operations",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys/{apiKeyId}": {
      "delete": {
        "summary": "Revoke an API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet": {
      "get": {
        "summary": "Read the prepaid wallet",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/checkout": {
      "post": {
        "summary": "Begin a card payment for this organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/funding": {
      "post": {
        "summary": "Credit the wallet from a verified settlement proof",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/catalog": {
      "get": {
        "summary": "List purchasable offerings",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/quotes": {
      "post": {
        "summary": "Price an offering for a tenant",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations": {
      "post": {
        "summary": "Reserve a quote, holding funds",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/capture": {
      "post": {
        "summary": "Capture a reservation against reported usage",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/release": {
      "post": {
        "summary": "Release a reservation and return its hold",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/provision-tokens": {
      "post": {
        "summary": "Mint a single-use provisioning token for a reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/takoform-run-tokens": {
      "post": {
        "summary": "Mint a short-lived exact-Resource bearer for an ordinary Takoform provider run",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/usage-statement": {
      "get": {
        "summary": "Read the usage statement of a captured reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/forms": {
      "get": {
        "summary": "Resolve one exact installed Form",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/form-definitions/{group}/{kind}": {
      "get": {
        "summary": "Read an installed Form definition",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/forms": {
      "get": {
        "summary": "List support profiles for installed Forms",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/forms/{group}/{kind}/{definitionVersion}": {
      "get": {
        "summary": "Read one Form support profile",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/interfaces/{name}/{version}": {
      "get": {
        "summary": "Read a provided Interface contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/support/bindings/{name}/{version}": {
      "get": {
        "summary": "Read an accepted Binding contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/validate": {
      "post": {
        "summary": "Validate desired state without recording it",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/prepare": {
      "post": {
        "summary": "Review desired state and mint a prepare digest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}": {
      "get": {
        "summary": "Read a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "summary": "Apply reviewed desired state",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}/observe": {
      "post": {
        "summary": "Refresh observed state from the backend",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/resources/{group}/{kind}/{name}/import": {
      "post": {
        "summary": "Adopt an existing native resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/operations/{operationId}": {
      "get": {
        "summary": "Read a settled operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/operations/{operationId}/cancel": {
      "post": {
        "summary": "Request cancellation of an operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads": {
      "post": {
        "summary": "Start an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}": {
      "delete": {
        "summary": "Abandon an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}/commit": {
      "post": {
        "summary": "Commit an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/uploads/{uploadId}/blobs/{digest}": {
      "put": {
        "summary": "Upload one declared blob",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/{digest}": {
      "get": {
        "summary": "Read a committed manifest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1/artifacts/blobs/{digest}": {
      "head": {
        "summary": "Check whether a blob is held",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  }
}
