{
  "openapi": "3.1.0",
  "info": {
    "title": "Takoserver API",
    "version": "0.2.0",
    "summary": "An independent prepaid platform for Takoform-declared resources."
  },
  "servers": [
    {
      "url": "https://api.takoserver.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A session secret, an organization API key, or a resource-scoped token, depending on the route."
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "summary": "Console",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "This document",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoserver": {
      "get": {
        "summary": "Product discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoform/v1beta1": {
      "get": {
        "summary": "Released Takoform lane discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/.well-known/takoform/v1alpha3": {
      "get": {
        "summary": "Current Takoform lane discovery",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/identity/providers": {
      "get": {
        "summary": "Identity providers accepted for sign-in",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/sessions": {
      "post": {
        "summary": "Exchange an external assertion for a session",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Read the signed-in principal and the organizations it owns",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/forms": {
      "get": {
        "summary": "List every Form definition this Host will accept",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": []
      }
    },
    "/v1/organizations": {
      "post": {
        "summary": "Create an Organization",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys": {
      "post": {
        "summary": "Create a scoped API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "get": {
        "summary": "List the organization's live API keys",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/resources": {
      "get": {
        "summary": "List the organization's Takoform resources",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/operations": {
      "get": {
        "summary": "List the organization's recent Takoform operations",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/api-keys/{apiKeyId}": {
      "delete": {
        "summary": "Revoke an API key",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet": {
      "get": {
        "summary": "Read the prepaid wallet",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/wallet/funding": {
      "post": {
        "summary": "Credit the wallet from a verified settlement proof",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/catalog": {
      "get": {
        "summary": "List purchasable offerings",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/quotes": {
      "post": {
        "summary": "Price an offering for a tenant",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations": {
      "post": {
        "summary": "Reserve a quote, holding funds",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/capture": {
      "post": {
        "summary": "Capture a reservation against reported usage",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/release": {
      "post": {
        "summary": "Release a reservation and return its hold",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/provision-tokens": {
      "post": {
        "summary": "Mint a single-use provisioning token for a reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/reseller/reservations/{reservationId}/usage-statement": {
      "get": {
        "summary": "Read the usage statement of a captured reservation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/forms": {
      "get": {
        "summary": "Resolve one exact installed Form",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/form-definitions/{group}/{version}/{kind}": {
      "get": {
        "summary": "Read an installed Form definition",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/support/forms": {
      "get": {
        "summary": "List support profiles for installed Forms",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/support/forms/{group}/{version}/{kind}/{definitionVersion}": {
      "get": {
        "summary": "Read one Form support profile",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/support/interfaces/{name}/{version}": {
      "get": {
        "summary": "Read a provided Interface contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/support/bindings/{name}/{version}": {
      "get": {
        "summary": "Read an accepted Binding contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/resources/validate": {
      "post": {
        "summary": "Validate desired state without recording it",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/resources/prepare": {
      "post": {
        "summary": "Review desired state and mint a prepare digest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/resources/{group}/{version}/{kind}/{name}": {
      "get": {
        "summary": "Read a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "summary": "Apply reviewed desired state",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/resources/{group}/{version}/{kind}/{name}/observe": {
      "post": {
        "summary": "Refresh observed state from the backend",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/resources/{group}/{version}/{kind}/{name}/import": {
      "post": {
        "summary": "Adopt an existing native resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/operations/{operationId}": {
      "get": {
        "summary": "Read a settled operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/operations/{operationId}/cancel": {
      "post": {
        "summary": "Request cancellation of an operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/artifacts/uploads": {
      "post": {
        "summary": "Start an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/artifacts/uploads/{uploadId}": {
      "delete": {
        "summary": "Abandon an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/artifacts/uploads/{uploadId}/commit": {
      "post": {
        "summary": "Commit an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/artifacts/uploads/{uploadId}/blobs/{digest}": {
      "put": {
        "summary": "Upload one declared blob",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/artifacts/{digest}": {
      "get": {
        "summary": "Read a committed manifest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1beta1/artifacts/blobs/{digest}": {
      "head": {
        "summary": "Check whether a blob is held",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/forms": {
      "get": {
        "summary": "Resolve one exact installed Form",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/form-definitions/{group}/{version}/{kind}": {
      "get": {
        "summary": "Read an installed Form definition",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/support/forms": {
      "get": {
        "summary": "List support profiles for installed Forms",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/support/forms/{group}/{version}/{kind}/{definitionVersion}": {
      "get": {
        "summary": "Read one Form support profile",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/support/interfaces/{name}/{version}": {
      "get": {
        "summary": "Read a provided Interface contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/support/bindings/{name}/{version}": {
      "get": {
        "summary": "Read an accepted Binding contract",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/resources/validate": {
      "post": {
        "summary": "Validate desired state without recording it",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/resources/prepare": {
      "post": {
        "summary": "Review desired state and mint a prepare digest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/resources/{group}/{version}/{kind}/{name}": {
      "get": {
        "summary": "Read a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "summary": "Apply reviewed desired state",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete a resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/resources/{group}/{version}/{kind}/{name}/observe": {
      "post": {
        "summary": "Refresh observed state from the backend",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/resources/{group}/{version}/{kind}/{name}/import": {
      "post": {
        "summary": "Adopt an existing native resource",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/operations/{operationId}": {
      "get": {
        "summary": "Read a settled operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/operations/{operationId}/cancel": {
      "post": {
        "summary": "Request cancellation of an operation",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/artifacts/uploads": {
      "post": {
        "summary": "Start an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/artifacts/uploads/{uploadId}": {
      "delete": {
        "summary": "Abandon an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/artifacts/uploads/{uploadId}/commit": {
      "post": {
        "summary": "Commit an artifact upload",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/artifacts/uploads/{uploadId}/blobs/{digest}": {
      "put": {
        "summary": "Upload one declared blob",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/artifacts/{digest}": {
      "get": {
        "summary": "Read a committed manifest",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/apis/forms.takoform.com/v1alpha3/artifacts/blobs/{digest}": {
      "head": {
        "summary": "Check whether a blob is held",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  }
}
